albumentations
awscli
black
colorama
einops
flake8
flask-restful
icdiff
imageio
ipdb
ipywidgets
jsonlines
jstyleson
onnx
opencv-contrib-python
opencv-python
oyaml
paramiko
pygifsicle
pygments
pyjson5
PyPDF2
pytest
pyvideoreader
requests-toolbelt
ruff
scikit-image
scikit-learn
segmentation-models-pytorch
statistics
tensorboard
tensorboardX
tqdm