albumentations==1.3.1
awscli
black
boto3
colorama
einops
flake8
flask-restful
icdiff
imageio
ipdb
ipywidgets
jsonlines
jstyleson
onnx
opencv-contrib-python
opencv-python
oyaml
paramiko
pygifsicle
pygments
pyjson5
PyPDF2
pytest
pyvideoreader
requests-toolbelt
ruff
scikit-image
scikit-learn
segmentation-models-pytorch
statistics
tensorboard
tensorboardX
tqdm
onnxruntime-gpu
git+https://github.com/sail-sg/Adan.git@66adee7c6c913b0465e2f10b71640e24a0e4d596#egg=adan
